---
layout: 2022/default
permalink: /error
---

<div class="w3-container white-space">
  <h3 class="w3-center title">Se ha producido un error al registrar tu propuesta.</h3>
  <p class="w3-center w3-large purpose">
    Por favor, vuelve a intentarlo pasado unos minutos y en caso que el problema siga produciéndose escríbenos a <a href="mailto:jasyp@interferencias.tech">jasyp@interferencias.tech</a>.
  </p>
  <h3 class="w3-center title">Disculpa las molestias.</h3>
</div>