---
layout: 2022/default
permalink: /interferencias
---

<div class="w3-container" style="padding:5em 16px">
  <p class="w3-center"> <img src="/2022/images/banner_horizontal.jpg" alt="Interferencias Banner" width="70%"> </p>
  <div style="padding-top: 4em" class="w3-row-padding">
    <div class="w3-col m6">
      <p style="padding-top: 1em" class="w3-center proposal"><span class="interferencias">Interferencias</span> es una asociación ciberactivista sin ánimo de lucro que nació en el año 2016 en Granada con la intención de hacer de punto de encuentro
        de personas interadas en derechos digitales y privacidad en Internet y cómo es posible usar la seguridad informática y el software libre para garantizar esto. La idea es compartir información sobre estos temas en los medios que tengamos a
        uestro alcance, tanto digitales como físicos, y es por eso por lo que intentamos organizar algunas actividades y eventos como las <strong>JASYP</strong> para también conocer las opiniones del resto de personas y aprender sobre lo que tengan
        que compartir.</p>
      <p style="padding-top:1.5em" class="w3-center proposal">Las <strong>JASYP (Jornadas de Anonimato, Seguridad y Privacidad)</strong> comenzaron a realizarse en el año 2017 en la <a class="link-normal" href="https://etsiit.ugr.es/"
          target="_blank">ETS de Ingenierías Informática y de Telecomunicación de la UGR</a> gracias a la disponibilidad y el apoyo total de la dirección de la Escuela en aquella época; y fue allí mismo donde vinimos realizando las siguientes
        ediciones, hasta que debido a la situación actual tuvimos que cambiar al formato online: fue entonces cuando empezamos a organizar una actividad similar dentro del congreso <a href="https://eslib.re/" target="_blank"><strong>es<span
              style="color:red">Libre</span></strong></a>.</p>
    </div>
    <div class="w3-col m6">
      <p class="w3-center proposal">
        <img class="w3-image w3-round-large" src="/2022/images/jasyp-01.jpg" alt="JASYP 2019" width="100%">
      </p>
    </div>
  </div>
</div>

<div style="padding-bottom: 5em" class="w3-container">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <p class="w3-center proposal">
        <img class="w3-image w3-round-large" src="/2022/images/eslibre_2021.png" alt="esLibre 2021" width="100%">
      </p>
    </div>
    <div class="w3-col m6">
      <p style="padding-top: 3em" class="w3-center proposal">Seguimos creyendo que <strong>no hay nada más importante que las comunidades y las personas que las hacen posibles</strong>, por eso siempre hemos querido contribuir intentando ayudar a
        crear espacios
        donde las personas puedan expresar libremente sus inquietudes sobre estas mismas temáticas que nos preocupan.<br><br>Aunque la tecnología puede ayudarnos en la comunicación de forma muy simple (algo que de otra forma, quizás sería
        imposible),
        también
        nos gusta no perder la cercanía y la espontaneidad del intercambio de conocimientos, opiniones e ideas en persona.<br><br>Todo esto es lo que nos gustaría que siguiera aumentando para llegar a tanta gente como sea posible; y claro está,
        aprovechar
        también las oportunidades que nos da nuestra tierra para compartir buenos ratos visitando nuestros bares o paseando por nuestros monumentos.</p>
    </div>
  </div>
</div>

<div style="padding-bottom: 5em" class="w3-container">
  <h3 class="w3-center title">Un poco de contenido</h3>
  <p class="w3-center w3-large purpose">Si te interesa, también puedes echarle un ojo a nuestra página web para ver qué hemos estado haciendo estos años (aunque estamos en proceso de rediseñarla cuando volvamos a la plena actividad) o echarle un
    vistazo a las grabaciones de las salas que hemos organizado dentro de <a href="https://eslib.re/" target="_blank"><strong>es<span style="color:red !important;">Libre</span></strong></a>.
  <ul style="text-align: center; list-style-position:inside; font-size: 18px !important;">
    <li class="list-space"><a href="https://commons.wikimedia.org/wiki/Category:Soberan%C3%ADa_Digital_en_las_Aulas_(Fuera_Google)" target="_blank"><strong>es<span style="color:red !important;">Libre</span> 2021</strong></a></li>
    <li class="list-space"><a href="https://commons.wikimedia.org/wiki/Category:EsLibre_2020_-_Derechos_Digitales,_Privacidad_en_Internet_y_Seguridad_Inform%C3%A1tica" target="_blank"><strong>es<span style="color:red !important;">Libre</span>
          2020</strong></a></li>
    <li class="list-space"><a href="https://interferencias.tech/" target="_blank"><strong>Web principal de <span class="interferencias">Interferencias</span></strong><a /></li>
  </ul>
  </p>
</div>
