---
layout: 2022/default
permalink: /programa
---

<div class="w3-container white-space">
  <h1 class="w3-center title" style="padding-bottom: 1.5em">Programa</h1>
  <h2 class="w3-center title">Charlas y talleres</h2>
  <div style="padding: 0 5em 0 5em !important;" class="table-responsive">
    <p class="w3-center w3-large purpose">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="program-photo"></th>
          <th class="program-speaker">
            <h3>Ponente</h3>
          </th>
          <th class="program-info">
            <h3>Propuesta</h3>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr id="primera">
          <td scope="row"><img class="program-photo-img" src="2022/images/programa/logo.png" width="118" height="118" alt="Interferencias logo"></td>
          <td class="program-text">
            <ul>
              <li><strong>Nombre:</strong> Jorge Cuadrado (Coke)</li>
              <li><strong>Web personal:</strong> <a class="program-link" href="https://www.croke.es" target="_blank">https://www.croke.es</a></li>
              <li><strong>Twitter:</strong> <a class="program-link" href="https://twitter.com/coke727" target="_blank">@coke727</a></li>
              <li><strong>GitHub:</strong> <a class="program-link" href="https://github.com/jorcuad" target="_blank">@jorcuad</a></li>
            </ul>
            <p class="pr-text">Creo firmemente en que la divulgación y la privacidad son dos componentes necesarios e imprescindibles en una sociedad que avanza tecnológicamente de forma ética y sana para las personas.</p>
            <p class="pr-text">En los últimos años ya he hablado de decenas de tecnologías que favorecen o perjudican a nuestra privacidad, y es que, muy pocas organizaciones enfocan su modelo de negocio en productos que mantengan o protejan la privacidad de sus usuarios.
            </p>
            <p class="pr-text">Mis charlas tratan sobre eso, tecnología, pero me gusta hablar sobre la que nos afecta directamente, proponiendo alternativas y mejoras. Siempre me gusta mezclar estos temas con mis hobbies: privacidad, electronica y DIY.
            </p>
            <p class="pr-text">Para ver más datos aburridos sobre mí, o ver otras charlas que he dado, tienes mis redes sociales o puedes bichear mi página web, también puedes contactarme para charlar un rato sobre cualquier cosa.</p><br>
            <ul>
              <li style="list-style-type: circle;"><strong>HORARIO:</strong></li>
            </ul>
          </td>
          <td class="program-text">
            <p class="title"><strong>Autodefensa digital: inhibidores de micrófonos</strong></p>
            <p class="pr-text">El mundo gira alrededor de la tecnología, es inevitable el estar relacionado con ella. El teléfono móvil se ha convertido en una necesidad, ya no sólo en el día a día, lo necesitamos para interactuar con las administraciones públicas o las empresas que proveen servicios esenciales. La domótica se conecta a asistentes de voz. En breve los wearables estarán cosidos a nuestra ropa... Cuantos más sensores a nuestro alrededor, menos certeza de nuestra privacidad.</p>
            <p class="pr-text">¿Son las empresas éticas al tratar nuestros datos? No podemos asegurarlo, el software es difícilmente auditable, más cuando está alojado en entornos cloud. ¿Cómo podemos seguirle el ritmo a la tecnología sin perder nuestra privacidad?</p>
            <p class="pr-text">No se puede, pero al menos podemos ponerselo más difícil a las empresas que no gestionan nuestros datos correctamente. Contra el espionaje... autodefensa y contra los micrófonos... inhibidores. ¿Te gustaría saber como construir un inhibidor de micrófonos portátil que se pueda llevar en la muñeca? Hoy hablamos de eso.</p>
            <ul>
              <li><strong>Tipo de propuesta</strong>: Charla larga (40 minutos)</li>
              <li class="pr-item"><strong>Descripción</strong>: Una charla distendida para cualquier persona. Intentaré hacer una demo en vivo sobre como se inhibe un micrófono y contaré el proceso de construcción de un inhibidor DIY. No quiero entrar en mucho tecnicismo porque prefiero que la charla llegue a cualquier persona. Liberaré todo el material al terminar la charla. No prometo seriedad en el escenario.
              </li>
              <li class="pr-item"><strong>Público objetivo</strong>: Cualquier persona que este preocupada por su privacidad y quiera tomar el control de la información que comparte o se filtra sobre él. En concreto, aquellas que tengan especial preocupación por que sus conversaciones puedan estar siendo grabadas con un micrófono.
              </li>
            </ul>
          </td>
        </tr>
        <tr id="segunda">
          <td scope="row"><img class="program-photo-img" src="2022/images/programa/grite.jpg" width="118" height="118" alt="Interferencias logo"></td>
          <td class="program-text">
            <ul>
              <li><strong>Nombre:</strong> Rakel Hernández - GRITE</li>
              <li><strong>Twitter AMPA:</strong> <a class="program-link" href="https://twitter.com/ampagomezmoreno" target="_blank">@ampagomezmoreno</a></li>
              <li><strong>PeerTube GRITE:</strong> <a class="program-link" href="https://tubedu.org/c/grite_gomez/videos" target="_blank">grite_gomez@tubedu.org</a></li>
            </ul>
            <p class="pr-text">El GRITE es un Grupo de Reflexión y de Información sobre las Tecnologías Educativas formado por miembros de la AMPA del CEIP Gómez Moreno (Granada) y abierto al conjunto de la comunidad educativa. Nuestra propuesta quiere activar la colaboración con el centro para argumentar y reflexionar en base a la realidad de nuestra comunidad educativa.</p><br>
            <ul>
              <li style="list-style-type: circle;"><strong>HORARIO:</strong></li>
            </ul>
          </td>
          <td class="program-text">
            <p class="title"><strong>GRITE avanza</strong></p>
            <p class="pr-text">Avances del GRITE, familias por la sensibilización y formación en competencias críticas digitales. Los hitos de este año (Soberanía y Salud digital) y los objetivos para el próximo: proyecto multidisciplinar de salud digital y diagnóstico estructurado.</p>
            <ul>
              <li><strong>Tipo de propuesta</strong>: Charla corta (20 minutos)</li>
              <li class="pr-item"><strong>Descripción</strong>: Presentar los avances, las nuevas relaciones interampas y a nivel regional. Visita a BCN con aFFaC y Xnet. Objetivos a desarrollar sobre el concepto salud digital, como bisagra para la sensibilización. Necesitamos datos estructurados para fundamentar propuestas.
              </li>
              <li class="pr-item"><strong>Público objetivo</strong>: AMPAs, familias, educadores...
              </li>
            </ul>
          </td>
        </tr>
        <tr id="tercera">
          <td scope="row"><img class="program-photo-img" src="2022/images/programa/logo.png" width="118" height="118" alt="Interferencias logo"></td>
          <td class="program-text">
            <ul>
              <li><strong>Nombre:</strong> Paula de la Hoz</li>
              <li><strong>Web personal:</strong> <a class="program-link" href="https://terceranexus6.gitlab.io/website/" target="_blank">https://terceranexus6.gitlab.io/website/</a></li>
              <li><strong>Mastodon:</strong> <a class="program-link" href="https://cybre.space/@terceranexus6/" target="_blank"> @terceranexus6@cybre.space </a></li>
              <li><strong>Twitter:</strong> <a class="program-link" href="https://twitter.com/Terceranexus6" target="_blank">@Terceranexus6</a></li>
              <li><strong>GitLab:</strong> <a class="program-link" href="https://gitlab.com/terceranexus6" target="_blank">@terceranexus6</a></li>
            </ul>
            <p class="pr-text">Ciberinteligencia en Sentinel One. Profesora de pentesting y hardware hacking en FP de ciberseguridad en Los Salesianos Atocha (Madrid). Presidenta cofundadora de Interferencias y colaboradora en Post Apocalipsis Nau.</p><br>
            <ul>
              <li style="list-style-type: circle;"><strong>HORARIO:</strong></li>
            </ul>
          </td>
          <td class="program-text">
            <p class="title"><strong>Cómo reportar eventos de forma segura</strong></p>
            <p class="pr-text">El taller pretende durar unos 45 minutos. Para llevarlo a cabo revisaremos qué amenazas digitales y de privacidad encontramos en varios tipos de eventos y posteriormente trataremos cómo solventarlos, por ejemplo: metadatos en imágenes, personas en fotos, documentación en tiempo real sin usar herramientas privativas, redes resilientes, etc.</p>
            <p class="pr-text">Al final del taller también se responderán a preguntas específicas sobre situaciones concretas si es que las hay. Para aprovechar al máximo el taller se requiere que las personas participantes lleven un portátil con Linux.</p>
            <ul>
              <li><strong>Tipo de propuesta</strong>: Taller (45 minutos)</li>
              <li class="pr-item"><strong>Descripción</strong>: El taller es una introducción a qué tipo de herramientas y cómo podemos cubrir un evento, manifestación o entrevista de forma que cuidemos la privacidad y la seguridad de las personas que participen.
              </li>
              <li class="pr-item"><strong>Público objetivo</strong>: Cualquier persona que tenga interés en ayudar a cubrir eventos o cuidarse de la seguridad y la privacidad en redes.
              </li>
            </ul>
          </td>
        </tr>
        <tr id="cuarta">
          <td scope="row"><img class="program-photo-img" src="2022/images/programa/retrato-de-Max-Stirner.svg" width="118" height="118" alt="Interferencias logo"></td>
          <td class="program-text">
            <ul>
              <li><strong>Nombre:</strong> Jorge Maldonado</li>
              <li><strong>Web personal:</strong> <a class="program-link" href="https://freakspot.net/" target="_blank">https://freakspot.net/</a></li>
              <li><strong>Forja código:</strong> <a class="program-link" href="https://notabug.org/jorgesumle" target="_blank">https://notabug.org/jorgesumle</a></li>
            </ul>
            <p class="pr-text">Soy un traductor y programador que lleva años contribuyendo a diversos proyectos de <i lang="en">software</i> libre y de cultura libre. He participado y dado charlas en eventos similares como el Hackmeeting, PyConEs, FOSDEM, GNU Hackers' Meetings, etc.</p><br>
            <ul>
              <li style="list-style-type: circle;"><strong>HORARIO:</strong></li>
            </ul>
          </td>
          <td class="program-text">
            <p class="title"><strong>La cultura es libre: una historia de la resistencia antipropiedad</strong></p>
            <p class="pr-text">Presentación del libro <cite>La cultura es libre: una historia de la resistencia antipropiedad</cite>, con una pequeña demostración al final mostrando cómo generar un libro en varios formatos (PDF, HTML, EPUB). Mi intención es que la gente aprenda más sobre las batallas que ha habido a lo largo de la historia contra el cierre de la cultura, que han dado lugar al <i lang="en">software</i> libre y la cultura libre.</p>
            <p class="pr-text">El libro tiene los siguientes capítulos:
            <ol>
              <li>cultura oral</li>
              <li>cultura impresa</li>
              <li>cultura propietaria</li>
              <li>cultura recombinante</li>
              <li>cultura libre</li>
              <li>cultura colectiva</li>
            </ol>
            Hablaré un poco de cada uno, pero al que dedicaré más tiempo será el de la cultura libre, que es también el capítulo más largo del libro.</p>
            <ul>
              <li><strong>Tipo de propuesta</strong>: Otra (40 minutos)</li>
              <li class="pr-item"><strong>Descripción</strong>: El libro se genera a partir de archivos Markdown mediante Pandoc. Es una traducción de <em>A Cultura é Livre: Uma história da resistência antipropriedade</em> de Leonardo Foletto, autor de <a class="program-link" href="https://baixacultura.org/" target="_blank">BaixaCultura</a>.</li>
              <li class="pr-item"><strong>Web del proyecto</strong>: <a class="program-link" href="https://freakspot.net/libro/la-cultura-es-libre/" target="_blank">https://freakspot.net/libro/la-cultura-es-libre/</a></li>
              <li class="pr-item"><strong>Público objetivo</strong>: Personas que tengan curiosidad sobre el <i lang="en">software</i> libre y la cultura libre. A quienes les gustaría aprender cómo sacar un libro en varios formatos (EPUB, PDF, HTML). Quienes se interesan por la resistencia a las restricciones a la cultura, abordada desde la política, la sociología, la antropología y la historia.
              </li>
            </ul>
          </td>
        </tr>
        <tr id="quinta">
          <td scope="row"><img class="program-photo-img" src="2022/images/programa/draxus.jpg" width="118" height="118" alt="Interferencias logo"></td>
          <td class="program-text">
            <ul>
              <li><strong>Nombre:</strong> Manuel Martín (Draxus)</li>
              <li><strong>Web personal:</strong> <a class="program-link" href="https://www.draxus.org/" target="_blank">https://www.draxus.org/</a></li>
              <li><strong>Twitter:</strong> <a class="program-link" href="https://twitter.com/draxus" target="_blank">@draxus</a></li>
              <li><strong>GitHub:</strong> <a class="program-link" href="https://github.com/draxus" target="_blank">@draxus</a></li>
            </ul>
            <p class="pr-text">Soy un entusiasta de la tecnología y el software libre. Actualmente trabajo como investigador y desarrollador de modelos de machine learning. Me gusta cacharrear con la Raspberry Pi.</p><br>
            <ul>
              <li style="list-style-type: circle;"><strong>HORARIO:</strong></li>
            </ul>
          </td>
          <td class="program-text">
            <p class="title"><strong>Hogar (Des)Conectado</strong></p>
            <p class="pr-text">Cada vez estamos viendo más y más aparatos "inteligentes" se cuelan en nuestros hogares. Ya sean bombillas, enchufes o sensores de temperatura, lo que tienen casi todos en común es la necesidad de estar conectados a un hub central específico de cada marca así como una aplicación móvil para configurarlos. Además, una de las características más anunciada es su integración con Alexa o Google Assistant. Todo esto implica por lo general que nuestros aparatos van a estar conectados permanentemente a internet y enviando nuestros datos a una o mútiples compañías.</p>
            <p class="pr-text">¿Existen alternativas para disfrutar de esta tecnología en casa sin "hipotecarnos" con los dispositivos de una compañía concreta y para tener el control de nuestros datos? En esta charla contaré mi experiencia domotizando mi casa manteniendo la privacidad.</p>
            <p class="pr-text">Hashtags: #zigbee #domotica #sensores #raspberrypi #privacidad</p>
            <ul>
              <li><strong>Tipo de propuesta</strong>: Charla corta (20 minutos)</li>
              <li class="pr-item"><strong>Descripción</strong>: En la charla contaré mi experiencia configurando la Raspberry Pi con el hub ConBee II para conectar los dispositivos Zigbee de diferentes marcas (a priori solo compatibles con sus respectivos hubs). Explicaré también cómo usar servicios libres de automatización y control de dispositivos como Home Assistant y Homebridge.
              </li>
              <li class="pr-item"><strong>Público objetivo</strong>: A cualquier persona interesada en preservar la privacidad digital de su hogar.
              </li>
            </ul>
          </td>
        </tr>
        <tr id="sexta">
          <td scope="row"><img class="program-photo-img" src="2022/images/programa/jj.jpg" width="118" height="118" alt="Interferencias logo"></td>
          <td class="program-text">
            <ul>
              <li><strong>Nombre:</strong> JJ Merelo</li>
              <li><strong>Web personal:</strong> <a class="program-link" href="https://jj.github.io" target="_blank">https://jj.github.io</a></li>
              <li><strong>Twitter:</strong> <a class="program-link" href="https://twitter.com/jjmerelo" target="_blank">@jjmerelo</a></li>
              <li><strong>GitHub:</strong> <a class="program-link" href="https://github.com/JJ" target="_blank">@JJ</a></li>
            </ul>
            <p class="pr-text">Participante en todas las ediciones de las JASYP, amigo de Raku, y también ingeniero software senior en polypoly. Ah, y profe.</p><br>
            <ul>
              <li style="list-style-type: circle;"><strong>HORARIO:</strong></li>
            </ul>
          </td>
          <td class="program-text">
            <p class="title"><strong>Bienvenidos a la república independiente de tus datos</strong></p>
            <p class="pr-text">Los datos personales son el combustible de la economía digital moderna, donde "un app gratis" viene a significar "vamos a agarrar tus datos y venderlos por todos sitios, incluso datos que no pensabas que pudiéramos tener". Hay muchas razones para que se haya llegado a esta situación, pero una de ellas es que no existen herramientas personales que permitan a alguien gestionar, visualizar y autorizar (o no) acceso a diferentes aspectos (o facetas) de sus datos personales.</p>
            <p class="pr-text">En <a class="program-link" href="https://polypoly.org/" target="_blank">polypoly</a> nuestra misión es crear esa plataforma y nuestra visión es que, al posibilitar la soberanía de datos del usuario regular, seremos capaces de crear una economía de datos equitativa donde el usuario pueda gestionar qué datos personales tienen las compañías, qué pueden hacer con ellos, puedan gestionar también esos datos de forma sencilla (permitiendo las provisiones que hay en la GDPR de borrado y modificación, por ejemplo) y eventualmente se pueda beneficiar económicamente de cualquier aspecto de esos datos que los haga únicos, siempre bajo su control.</p>
            <p class="pr-text">Para conseguir esto, hemos creato una plataforma de gestión de datos personal llamada polyPod, apoyada por una enciclopedia de datos sobre compañías (y qué hacen estas compañías con los datos que recolectan) llamada la polyPedia. El polyPod es software libre, y consiste actualmente en dos aplicaciones para iOS y Android, respectivamente, y que también está disponible en <a class="program-link" href="https://github.com/polypoly-eu/polyPod" target="_blank">https://github.com/polypoly-eu/polyPod</a>.</p>
            <p class="pr-text">En esta charla, presentaremos los conceptos generales de soberanía de datos en los que se basa la compañía (y también la cooperativa y la fundación) y sus productos, así como una visión general de las herramientas que contiene el polyPod y que estamos usando dentro del mismo para implementar esa visión de soberanía de datos personales, la república independiente de los datos personales.</p>
            <ul>
              <li><strong>Tipo de propuesta</strong>: Charla larga (40 minutos)</li>
              <li class="pr-item"><strong>Descripción</strong>: Se trata de presentar por un lado conceptos generales de soberanía de datos, y luego, a un nivel divulgativo, las capacidades técnicas del producto y cómo se pueden tratar los datos personales que te dejan descargarte sitios como Facebook (y, posiblemente, en el momento en que se dé la charla, Google) para entender mejor lo que las grandes empresas saben de ti y cómo evitar que sepan tanto, o entender qué hacen con esa información.</li>
              <li class="pr-item"><strong>Web del proyecto</strong>: <a class="program-link" href="https://polypoly.com" target="_blank">https://polypoly.com</a></li>
              <li class="pr-item"><strong>Público objetivo</strong>: En general, cualquier público que tenga unos conocimientos mínimos de programación.</li>
            </ul>
          </td>
        </tr>
        <tr id="septima">
          <td scope="row"><img class="program-photo-img" src="2022/images/programa/logo.png" width="118" height="118" alt="Interferencias logo"></td>
          <td class="program-text">
            <ul>
              <li><strong>Nombre:</strong> Josep Moreno (JoMoZa)</li>
              <li><strong>Web personal:</strong> <a class="program-link" href="https://loveisinthe.net/" target="_blank">https://loveisinthe.net/</a></li>
              <li><strong>Twitter:</strong> <a class="program-link" href="https://twitter.com/j0moz4" target="_blank">@j0moz4</a> / <a class="program-link" href="https://twitter.com/bitupalicante" target="_blank">@bitupalicante</a></li>
              <li><strong>GitHub:</strong> <a class="program-link" href="https://github.com/jomoza" target="_blank">@jomoza</a></li>
            </ul>
            <p class="pr-text">Administrador de la comunidad BitUp Alicante. Pentester en Wise Security. Colaboro con varias comunidades de hacking y privacidad en internet. Apasionado de la tecnología, la comunidad y cultura de internet. Un pedazo de friki como un monte vamos.</p><br>
            <ul>
              <li style="list-style-type: circle;"><strong>HORARIO:</strong></li>
            </ul>
          </td>
          <td class="program-text">
            <p class="title"><strong>Offensive Privacy: methods & gadgets, long live OpSec</strong></p>
            <p class="pr-text">Ponencia sobre técnicas, metodologias y herramientas enfocadas a privacidad, desde la perspectiva de un pentester o distintos perfiles ofensivos dentro del mundo de la tecnologia que quiere desea realizar un trabajo de OpSec sobre su infrastructura, realizando una comparativa de estas tecnicas, entendiendolas en distintos contextos en los que su aplicacion tiene mas o menos sentido".</p>
            <p class="pr-text">La ponencia se enfoca para todo tipo de perfiles interesados en la privacidad. Tecnicos del mundo del hacking y la seguridad que puedan aplicar este tipo de tecnicas para evadir todo tipo de controles, medidad o simplemente, "no dejar rastro". Asi como activistas, periodistas, perfiles interesados en tener a su alcance distintas meodologias que no expongan o lo hagan de forna controla la informacion con la que tratan.</p>
            <ul>
              <li><strong>Tipo de propuesta</strong>: Charla larga (40 minutos)</li>
              <li class="pr-item"><strong>Descripción</strong>: Ponencia sobre técnicas, metodologias y herramientas enfocadas a privacidad, desde la perspectiva de un pentester o distintos perfiles ofensivos.</li>
              <li class="pr-item"><strong>Público objetivo</strong>: Publico técnico (no de gran nivel), interesados por el tema o aficionados de la seguridad informática.</li>
            </ul>
          </td>
        </tr>
        <tr id="octava">
          <td scope="row"><img class="program-photo-img" src="2022/images/programa/logo.png" width="118" height="118" alt="Interferencias logo"></td>
          <td class="program-text">
            <ul>
              <li><strong>Nombre:</strong> PROPUESTA POR CONFIRMAR</li>
              <li><strong>Web personal:</strong> </li>
              <li><strong>Twitter:</strong> </li>
              <li><strong>Mastodon:</strong> </li>
              <li><strong>GitLab/Portfolio:</strong> </li>
            </ul>
            <p class="pr-text"></p><br>
            <ul>
              <li style="list-style-type: circle;"><strong>HORARIO:</strong></li>
            </ul>
          </td>
          <td class="program-text">
            <p class="title"><strong>PROPUESTA POR CONFIRMAR</strong></p>
            <p class="pr-text"></p>
            <ul>
              <li><strong>Tipo de propuesta</strong>:</li>
              <li class="pr-item"><strong>Descripción</strong>:</li>
              <li class="pr-item"><strong>Web del proyecto</strong>:</li>
              <li class="pr-item"><strong>Público objetivo</strong>:</li>
            </ul>
          </td>
        </tr>
        <tr id="novena">
          <td scope="row"><img class="program-photo-img" src="2022/images/programa/logo.png" width="118" height="118" alt="Interferencias logo"></td>
          <td class="program-text">
            <ul>
              <li><strong>Nombre:</strong> PROPUESTA POR CONFIRMAR</li>
              <li><strong>Web personal:</strong> </li>
              <li><strong>Twitter:</strong> </li>
              <li><strong>Mastodon:</strong> </li>
              <li><strong>GitLab/Portfolio:</strong> </li>
            </ul>
            <p class="pr-text"></p><br>
            <ul>
              <li style="list-style-type: circle;"><strong>HORARIO:</strong></li>
            </ul>
          </td>
          <td class="program-text">
            <p class="title"><strong>PROPUESTA POR CONFIRMAR</strong></p>
            <p class="pr-text"></p>
            <ul>
              <li><strong>Tipo de propuesta</strong>:</li>
              <li class="pr-item"><strong>Descripción</strong>:</li>
              <li class="pr-item"><strong>Web del proyecto</strong>:</li>
              <li class="pr-item"><strong>Público objetivo</strong>:</li>
            </ul>
          </td>
        </tr>
        <tr id="decima">
          <td scope="row"><img class="program-photo-img" src="2022/images/programa/logo.png" width="118" height="118" alt="Interferencias logo"></td>
          <td class="program-text">
            <ul>
              <li><strong>Nombre:</strong> PROPUESTA POR CONFIRMAR</li>
              <li><strong>Web personal:</strong> </li>
              <li><strong>Twitter:</strong> </li>
              <li><strong>Mastodon:</strong> </li>
              <li><strong>GitLab/Portfolio:</strong> </li>
            </ul>
            <p class="pr-text"></p><br>
            <ul>
              <li style="list-style-type: circle;"><strong>HORARIO:</strong></li>
            </ul>
          </td>
          <td class="program-text">
            <p class="title"><strong>PROPUESTA POR CONFIRMAR</strong></p>
            <p class="pr-text"></p>
            <ul>
              <li><strong>Tipo de propuesta</strong>:</li>
              <li class="pr-item"><strong>Descripción</strong>:</li>
              <li class="pr-item"><strong>Web del proyecto</strong>:</li>
              <li class="pr-item"><strong>Público objetivo</strong>:</li>
            </ul>
          </td>
        </tr>
        <tr id="undecima">
          <td scope="row"><img class="program-photo-img" src="2022/images/programa/logo.png" width="118" height="118" alt="Interferencias logo"></td>
          <td class="program-text">
            <ul>
              <li><strong>Nombre:</strong> PROPUESTA POR CONFIRMAR</li>
              <li><strong>Web personal:</strong> </li>
              <li><strong>Twitter:</strong> </li>
              <li><strong>Mastodon:</strong> </li>
              <li><strong>GitLab/Portfolio:</strong> </li>
            </ul>
            <p class="pr-text"></p><br>
            <ul>
              <li style="list-style-type: circle;"><strong>HORARIO:</strong></li>
            </ul>
          </td>
          <td class="program-text">
            <p class="title"><strong>PROPUESTA POR CONFIRMAR</strong></p>
            <p class="pr-text"></p>
            <ul>
              <li><strong>Tipo de propuesta</strong>:</li>
              <li class="pr-item"><strong>Descripción</strong>:</li>
              <li class="pr-item"><strong>Web del proyecto</strong>:</li>
              <li class="pr-item"><strong>Público objetivo</strong>:</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    </p>
  </div>
</div>
<div class="w3-container w3-light-grey" style="padding:50px 16px">
  <h2 class="w3-center title">Otras actividades</h2>
  <h3 class="w3-center title" style="padding:50px 16px">Sala de Juntas: </h3>
  <div style="padding-bottom: 5em" class="w3-container">
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <p class="w3-center proposal">
          <img class="w3-image w3-round-large" src="/2022/images/carteles/jasyp_2022_ciberfeminismo.png" alt="esLibre 2021" width="70%">
        </p>
      </div>
      <div class="w3-col m6">
        <h4 class="w3-center title">Micro abierto de ciberfeminismo y autodefensa</h4>
        <p style="padding-top: 3em" class="w3-center proposal">[DESCRIPCIÓN]</p><br><br>
        <ul>
          <li><strong>Duración:</strong> X minutos</li>
        </ul>
      </div>
    </div>
  </div>
  <h3 class="w3-center title" style="padding-bottom:50px">Salón de Actos: </h3>
  <div style="padding-bottom: 5em" class="w3-container">
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <p class="w3-center proposal">
          <img class="w3-image w3-round-large" src="/2022/images/carteles/jasyp_2022_general.png" alt="esLibre 2021" width="70%">
        </p>
      </div>
      <div class="w3-col m6">
        <h4 class="w3-center title">Mesa redonda privacidad y derechos digitales</h4>
        <p style="padding-top: 3em" class="w3-center proposal">[DESCRIPCIÓN]</p><br><br>
        <ul>
          <li><strong>Duración:</strong> X minutos</li>
        </ul><br>
        <h4 class="w3-center title">Mesa redonda ciberfeminismo y autodefensa</h4>
        <p style="padding-top: 3em" class="w3-center proposal">[DESCRIPCIÓN]</p><br><br>
        <ul>
          <li><strong>Duración:</strong> X minutos</li>
        </ul><br>
        <h4 class="w3-center title">Directo de "Post Apocalipsis Nau"</h4>
        <p style="padding-top: 3em" class="w3-center proposal">[DESCRIPCIÓN]</p><br><br>
        <ul>
          <li><strong>Duración:</strong> X minutos</li>
        </ul>
      </div>
    </div>
  </div>
  <ul>
</div>
