<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Cerrar ×</a>
  <a href="/index.html#evento" onclick="w3_close()" class="w3-bar-item w3-button">EL EVENTO</a>
  <a href="/index.html#colaboradoras" onclick="w3_close()" class="w3-bar-item w3-button">COLABORADORAS</a>
  <a href="/index.html#galeria" onclick="w3_close()" class="w3-bar-item w3-button">GALERÍA</a>
  <a href="/index.html#conducta" onclick="w3_close()" class="w3-bar-item w3-button">CONDUCTA</a>
  <a href="/index.html#c4p" onclick="w3_close()" class="w3-bar-item w3-button">CALL FOR COSAS</a>
  <a href="/index.html#contacto" onclick="w3_close()" class="w3-bar-item w3-button">CONTACTO</a>
</nav>
